/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

table {
    word-break: normal;
    width: auto;
    text-wrap: avoid;
}

th, td {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 15px;
}

tr{
    border-bottom: 1px solid gray;
    border-collapse: collapse;
    background-color: white;
    padding: 15px;
}

tr.tableHeader {
    background-color: dimgrey;
    color: white;
}

.myGrid {
    width: 500px;
    height: 250px;
}

button {
    font-size: small;
    width: auto;
    height: auto;
    background-color: whitesmoke;
    text-align: center;
}

label {
    font-size: small;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    padding: 2px;
}

button.cancelButton{
    background-color: darkred;
    color: white;
}

button.saveButton{
    background-color: green;
    color: white;
}

.toolbar{
    font-size: small;
    background-color: lightgrey;
    padding: 5px;
    border-bottom: solid black 1px;
    height: 40px;
}

.editorContent {
    text-align: left;
    font-size: small;
    width: auto;
}

.pull-right {
    top: 5px;
}

.pull-left {
    top: 5px;
}

.pull-left-further {
    top: 5px;
}

form {
    height: auto;
    font-size: small;
    margin: 4px;
}

.tableFilter {
    height: auto;
    font-size: small;
    margin: 4px;
}

.bottomRight {
    position: absolute;
    bottom: 5px;
    left: 50%;
}

.bottomLeft {
    position: absolute;
    bottom: 5px;
    right: 50%;
}

