/* app css stylesheet */

body {
    min-width: 700px;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

table {
    word-break: normal;
    width: 100%;
    text-wrap: avoid;
    border-bottom: 1px solid lightgrey;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid lightgrey;
    border-collapse: collapse;
    white-space: nowrap;
    padding-right: 10px;
}

tr{
    background-color: white;
    padding: 15px;
    border-bottom: 1px solid lightgrey;
    border-collapse: collapse;
}

tr.tableHeader {
    background-color: dimgrey;
    color: white;
}

.myGrid {
    width: 500px;
    height: 250px;
}

button {
    font-size: small;
    width: auto;
    height: auto;
    background-color: whitesmoke;
    text-align: center;
}

label {
    font-size: small;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    padding: 2px;
}

button.cancelButton{
    background-color: darkred;
    color: white;
}

.toolbar{
    font-size: small;
    background-color: lightgrey;
    padding: 5px;
    border-bottom: solid black 1px;
    height: 40px;
}

.editorContent {
    text-align: left;
    font-size: small;
    width: auto;
    border-bottom: 1px solid lightgrey;
    border-collapse: collapse;
}

#scrollable-area {
    height: auto;
    max-height: calc(100vh - 208px);
    border-bottom: 1px solid lightgrey;
    border-collapse: collapse;
    overflow-y: scroll; /* <-- here is what is important*/
}

.pull-right {
    top: 5px;
}

.pull-left {
    top: 5px;
}

.pull-left-further {
    top: 5px;
}

form {
    height: auto;
    font-size: small;
    margin: 4px;
}

.tableFilter {
    height: auto;
    font-size: small;
    margin: 4px;
}

.bottomRight {
    position: absolute;
    bottom: 5px;
    left: 50%;
}

.bottomLeft {
    position: absolute;
    bottom: 5px;
    right: 50%;
}

.bottomCentre {
    position: absolute;
    bottom: 5px;
    align-self: center;
}

.bottomFarLeft {
    position: absolute;
    bottom: 0px;
    left: 20px;
}

.bottomFarRight {
    position: absolute;
    bottom: 0px;
    right: 20px;
}

.titleCells {
    width: 7.69230769231%;
    white-space: nowrap;
    padding-right: 10px;
}

.dateCells {
    width: 7.69230769231%;
    white-space: nowrap;
    padding-right: 10px;
}

.durationCells {
    width: 7.69230769231%;
    white-space: nowrap;
    padding-right: 10px;
}

.milestoneCells {
    width: 7.69230769231%;
    padding-right: 10px;
}

.tagCells {
    width: 7.69230769231%;
    white-space: nowrap;
    padding-right: 10px;
}

.assigneeCells {
    width: 7.69230769231%;
    white-space: nowrap;
    padding-right: 10px;
}

.budgetCells {
    width: 7.69230769231%;
    white-space: nowrap;
    padding-right: 10px;
}

.extraCells {
    width: 7.69230769231%;
    white-space: nowrap;
    padding-right: 10px;
}

.weekCells {
    width: 7.69230769231%;
    white-space: nowrap;
    padding-right: 10px;
}

.modeCells {
    width: 7.69230769231%;
    white-space: nowrap;
    padding-right: 10px;
}

.progressCells {
    width: 7.69230769231%;
    white-space: nowrap;
    padding-right: 10px;
}

.stateCells {
    width: 7.69230769231%;
    white-space: nowrap;
    padding-right: 10px;
}

.indexCells {
    min-width: 40px;
}
.chart {
    width: 150px;
    height: 150px;
}
