<!DOCTYPE html>
<html ng-app="myApp">
<!--[if lt IE 7]>
<!--<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if IE 7]>-->
<!--<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if IE 8]>-->
<!--<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if gt IE 8]>&lt;!&ndash;>-->
<!--<html lang="en" ng-app="myApp" class="no-js" xmlns="http://www.w3.org/1999/html"> &lt;!&ndash;<![endif]&ndash;&gt;-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AngularJS Table Editor</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/app.css">
    <link rel="styleSheet" href="release/ui-grid.min.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-touch.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-messages.js"></script>
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css"/>
    <script type="text/javascript" src="bower_components/jquery/jquery.js"></script>
    <script type="text/javascript" src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-date/dist/date.js"></script>
    <script src="js/app.js"></script>
    <script src="data.json"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
    <script data-require="d3@*" data-semver="3.3.11" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.3.11/d3.js"></script>
    <script type="text/javascript" src="https://rawgit.com/chinmaymk/angular-charts/bower/dist/angular-charts.min.js"></script>
    <script src="bower_components/angularjs-dropdown-multiselect/src/angularjs-dropdown-multiselect.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-utils/ui-utils.js"></script>
    <link href="bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
    <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type='text/javascript' src='js/angular-charts.min.js'></script>
    <script src="node_modules/chart.js/Chart.min.js"></script>
    <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="bower_components/StickyTableHeaders/js/jquery.stickytableheaders.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>
<body>

<div ng-controller="tableCtrl">
    <div class="toolbar">
        <div class="pull-left">
            <button class="addButton" ng-click="addNewRow()"><span translate>Add New Package</span></button>
            <select ng-model="bulkSelect">
                <option ng-repeat="x in bulks">{{x}}</option>
            </select>
            <button class="pull-left-further" ng-show="bulkSelect == 'Delete'" ng-click="removeRows($index)"><span translate>Remove Package</span></button>
        </div>
        <div class="pull-left">
            <div ng-show="bulkSelect == 'Start date'">
                <input type="date" ng-model="bulkStart">
                <button class="bulkConfirm" ng-click="bulkChangeStartDate($index)"><span translate>Change start dates</span></button>
            </div>
            <div ng-show="bulkSelect == 'End date'">
                <input type="date" ng-model="bulkEnd">
                <button ng-click="bulkChangeEndDate($index)"><span translate>Change end dates</span></button>
            </div>
            <div ng-show="bulkSelect == 'Tags'">
                <input type="text" ng-model="bulkTags">
                <button ng-click="bulkChangeTag($index)"><span translate>Change tags</span></button>
            </div>
            <div ng-show="bulkSelect == 'Assignee'">
                <input type="text" ng-model="bulkAssignee">
                <button ng-click="bulkChangeAssignee($index)"><span translate>Change assignee</span></button>
            </div>
            <div ng-show="bulkSelect == 'Budget'">
                <input type="number" ng-model="bulkBudget">
                <button ng-click="bulkChangeBudget($index)"><span translate>Change budget</span></button>
            </div>
            <div ng-show="bulkSelect == 'Approved extra cost'">
                <input type="number" ng-model="bulkApprovedExtraCost">
                <button ng-click="bulkChangeApprovedExtraCost($index)"><span translate>Change approved extra cost</span></button>
            </div>
            <div ng-show="bulkSelect == 'Working week'">
                <select ng-model="bulkWorkingWeek" >
                    <option ng-repeat="x in workingWeeks">{{x}}</option>
                </select>
                <button ng-click="bulkChangeWorkingWeek($index)"><span translate>Change working week</span></button>
            </div>
            <div ng-show="bulkSelect == 'Scheduling mode'">
                <select ng-model="bulkSchedulingMode" >
                    <option ng-repeat="x in schedulingModes">{{x}}</option>
                </select>
                <button ng-click="bulkChangeSchedulingMode($index)"><span translate>Change scheduling mode</span></button>
            </div>
            <div ng-show="bulkSelect == 'Progress'">
                <input type="number" max="100" min="0" ng-model="bulkProgress">
                <button ng-click="bulkChangeProgress($index)"><span translate>Change progress</span></button>
            </div>
            <div ng-show="bulkSelect == 'Status'">
                <select ng-model="bulkStatus" >
                    <option ng-repeat="x in states">{{x}}</option>
                </select>
                <button ng-click="bulkChangeStatus($index)"><span translate>Change status</span></button>
            </div>
        </div>
        <div class="pull-right">
            <form>
                <input type="text" class="form" placeholder="Search" ng-model="searchTable">
            </form>
        </div>
        <div class="pull-right" style="padding-top: 5px">
            <select ng-model="filterDropdown" >
                <option ng-repeat="x in filteredData">{{x}}</option>
            </select>
        </div>
    </div>
    <div class="editorContent" id="scrollable-area">
        <table id="tableEditor" fixed-table-headers="scrollable-area" style="width: 100%">
            <tr class="tableHeader">
                <td>
                    <div class="cell-div text-center">
                        <input ng-model="allRowsSelected" name="masterCheckbox" ng-change="selectAll()" type="checkbox"/>
                    </div>
                </td>
                <td>
                    <div class="cell-div text-left" translate>Title</div>
                </td>
                <td>
                    <div class="cell-div text-left" translate>Start</div>
                </td>
                <td>
                    <div class="cell-div text-left" translate>Duration</div>
                </td>
                <td>
                    <div class="cell-div text-left" translate>Finish</div>
                </td>
                <td>
                    <div class="cell-div text-left" translate>Milestone</div>
                </td>
                <td>
                    <div class="cell-div text-left" translate>Tags</div>
                </td>
                <td>
                    <div class="cell-div text-left" translate>Assignee</div>
                </td>
                <td>
                    <div class="cell-div text-left" translate>Budget</div>
                </td>
                <td>
                    <div class="cell-div text-left" translate>Extra</div>
                </td>
                <td>
                    <div class="cell-div text-left" translate>Working week</div>
                </td>
                <td>
                    <div class="cell-div text-left" translate>Scheduling</div>
                </td>
                <td>
                    <div class="cell-div text-left" translate>Progress</div>
                </td>
                <td>
                    <div class="cell-div text-left" translate>State</div>
                </td>
            </tr>
            <tbody id="table-editor-body">
                <tr ng-repeat="x in records | filter:searchTable | filter:verifyDropdown()">
                    <td class="indexCells">
                        <div class="cell-div text-center">
                            <input ng-model="currentPackageSelected" ng-checked="allRowsSelected" ng-click="checkedIndex(x)" type="checkbox"/>
                        </div>
                    </td>

                    <td class="titleCells">
                        <div ng-hide="editTitleMode" ng-dblclick="editTitleMode = true" translate>{{x.Title}}</div>
                        <div ng-show="editTitleMode">
                            <input type="text" ng-model="x.Title" placeholder="{{x.Title}}" focus-me="editTitleMode">
                        </div>
                    </td>

                    <td class="dateCells">
                        <div ng-hide="editStartDateMode" ng-dblclick="editStartDateMode = true" translate>{{ dateDisplay(x.StartDate) }}</div>
                        <div ng-show="editStartDateMode">
                            <input type="date" ng-model="x.StartDate" ng-blur="startDateEdit($index)"  placeholder="{{x.StartDate}}" focus-me="editStartDateMode">
                        </div>
                    </td>

                    <td class="durationCells">
                        <div translate>{{ (countDays(x.StartDate, x.EndDate) + 1) + durationSuffix(x.StartDate, x.EndDate) }}</div>
                    </td>

                    <td class="dateCells">
                        <div ng-hide="editEndDateMode" ng-dblclick="editEndDateMode = true" translate>{{ dateDisplay(x.EndDate) }}</div>
                        <div ng-show="editEndDateMode">
                            <input type="date" ng-model="x.EndDate" ng-blur="endDateEdit($index)" placeholder="{{x.EndDate}}" focus-me="editEndDateMode">
                        </div>
                    </td>

                    <td class="milestoneCells">
                        <div>
                            <input ng-model="milestoneCheckbox" ng-checked="x.Milestone" ng-change="changeMilestone(x)" type="checkbox"/>
                        </div>
                    </td>

                    <td class="tagCells">
                        <div ng-hide="editTagMode" ng-dblclick="editTagMode = true" translate>{{x.Tag}}</div>
                        <div ng-show="editTagMode">
                            <input type="text" ng-model="x.Tag" placeholder="{{x.Tag}}" focus-me="editTagMode">
                        </div>
                    </td>

                    <td class="assigneeCells">
                        <div ng-hide="editAssigneeMode" ng-dblclick="editAssigneeMode = true" translate>{{x.Assignee}}</div>
                        <div ng-show="editAssigneeMode">
                            <input type="text" ng-model="x.Assignee" placeholder="{{x.Assignee}}" focus-me="editAssigneeMode">
                        </div>
                    </td>
                    <td class="budgetCells">
                        <div ng-hide="editBudgetMode" ng-dblclick="editBudgetMode = true" translate>{{euroSuffix(x.Budget)}}</div>
                        <div ng-show="editBudgetMode">
                            <input type="number" ng-model="x.Budget" placeholder="{{x.Budget}}" focus-me="editBudgetMode">
                        </div>
                    </td>
                    <td class="extraCells">
                        <div ng-hide="editExtraMode" ng-dblclick="editExtraMode = true" translate>{{euroSuffix(x.ApprovedExtraCost)}}</div>
                        <div ng-show="editExtraMode">
                            <input type="number" ng-model="x.ApprovedExtraCost" placeholder="{{x.ApprovedExtraCost}}" focus-me="editExtraMode">
                        </div>
                    </td>
                    <td class="weekCells">
                        <div ng-hide="editWeekMode" ng-dblclick="editWeekMode = true" translate>{{x.WorkingWeek}}</div>
                        <div ng-show="editWeekMode">
                            <select ng-model="x.WorkingWeek" placeholder="{{x.WorkingWeek}}" focus-me="editWeekMode" >
                                <option ng-repeat="x in workingWeeks">{{x}}</option>
                            </select>
                        </div>
                    </td>
                    <td class="modeCells">
                        <div ng-hide="editModeMode" ng-dblclick="editModeMode = true" translate>{{x.SchedulingMode}}</div>
                        <div ng-show="editModeMode">
                            <select ng-model="x.SchedulingMode" placeholder="{{x.SchedulingMode}}" focus-me="editModeMode" >
                                <option ng-repeat="x in schedulingModes">{{x}}</option>
                            </select>
                        </div>
                    </td>
                    <td class="progressCells">
                        <div ng-hide="editProgressMode" ng-dblclick="editProgressMode = true" translate>{{x.Progress + "%"}}</div>
                        <div ng-show="editProgressMode">
                            <input type="number" max="100" min="0" ng-model="x.Progress" placeholder="{{x.Progress}}" ng-change="updateState()" focus-me="editProgressMode">
                        </div>
                    </td>
                    <td class="stateCells" ng-style="x.State === 'Verified' && {'background-color': 'green'} ||
                                                     x.State === 'Awaiting sign-off' && {'background-color': 'greenyellow'} ||
                                                     x.State === 'In progress' && {'background-color': 'yellow'} ||
                                                     x.State === 'Not started' && {'background-color': 'orange'} ||
                                                     x.State === 'Problem' && {'background-color': 'red'}">
                        <div ng-hide="editStateMode" ng-dblclick="editStateMode = true" translate>{{x.State}}</div>
                        <div ng-show="editStateMode">
                            <select ng-model="x.State" placeholder="{{x.State}}" ng-change="updateProgress()" focus-me="editStateMode" >
                                <option ng-repeat="x in states">{{x}}</option>
                            </select>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="bottomLeft">
        <button class="cancelButton" ng-click="cancelChanges()"><span translate>Cancel</span></button>
    </div>
    <div class="bottomRight">
        <button class="addButton" ng-click="addNewRow()"><span translate>Add New Package</span></button>
    </div>
    <div class="bottomFarLeft">
        <div
            data-ac-chart="'pie'"
            data-ac-data="dataStates"
            data-ac-config="configStates"
            class="chart">
        </div>
    </div>
    <div class="bottomFarRight">
        <div
            data-ac-chart="'pie'"
            data-ac-data="dataProgress"
            data-ac-config="configProgress"
            class="chart">
        </div>
    </div>
</div>
</body>
</html>
